{% extends "vineyards\base.html" %}

{% block title %} Registration {% endblock %}

{% block content %}

<h1>Strona jest przeznaczona do zarejestrowania się do bazy danych.</h1><br>

<p>formularz dla pracdawcy i pracownika</p>
<p>informacje o warunkach rejestracji</p><br>

<form method="post" action="/domaine/jobs/registration/">
    {% csrf_token %}
    <h3>Rejestracja nowego pracownika.</h3>
    <h4>Prosimy wypełnić formularz poniżej.</h4>
    {{ form1.as_p }}
    <button type="submit", name="save">Create</button>
</form>
<br>
<form method="post" action="/domaine/jobs/registration/">
    {% csrf_token %}
    <h3>Rejestracja nowego gospodarza.</h3>
    <h4>Prosimy wypełnić formularz poniżej.</h4>
    {{ form2.as_p }}
    <button type="submit", name="save">Create</button>
</form>



<p>pomoc</p>

{% endblock %}