{% extends "vineyards/base.html" %} 

{% block title %} Vineyards {% endblock %}

{% block content %} 
<h1>Tu znajdziesz listę zarejestrowanych winnic</h1>

<hr class="featurette-divider">
<div>
  <div>

    <form method="post" action="/domaine/domains_list/">
      {% csrf_token %}
      <h2>Dodaj winnicę</h2>
      <h4>Prosimy wypełnić formularz poniżej.</h4>
      {{ new_domaine.as_p }}
      <button type="submit", name="save">Create</button>
    </form>
  </div>
  <div>
    <p>obrazek obok</p>
  </div>
</div>
  
<hr class="featurette-divider">
<div>
  <p>Wyszukiwanie winnicy:</p>
</div>
<hr class="featurette-divider">

<div>
    {% for item in domaine %}
        
    <hr class="featurette-divider">

    <div class="row featurette">

        {% if strona == 1 %}
            <div class="col-md-7">
              
        {% else %}
            <div class="col-md-7 order-md-2">
              
        {% endif %}
        <h2 class="featurette-heading">Nazwa: <a href="/domaine/{{ item.id }}">{{ item }}</a></h2>
        <p class="lead">"Krótki opis winnicy"</p>
        <p>Region: </p>
        <p>Vilage: </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Losowe zdjęcie</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">Zdjęcie winnicy</text></svg>

      </div>
    </div>
    {% endfor%}
</div>


{% endblock %}