{% extends "vineyards/base.html" %} 

{% block title %} Vineyards {% endblock %}

{% block content %} 

<h1>Tu znajdziesz informacje czym są winnice</h1>

<div>
    <p>Opis czym są winnice.</p>
</div>
<br>
<hr>
<br>
<div>
    <p>Krótka historia uprawy winoroścli.</p>
</div>
<br>
<hr>
<br>
<div>
    <p>Obecna kultura uprawiania winorośli.</p>
</div>
<br>
<hr>
<br>
<div>
    <p>Lista do artykułów tematycznych.</p>
    <ul>
        <li><a href="#">Artykuł first</a></li>
        <li><a href="#">Artykuł</a></li>
        <li><a href="#">Artykuł</a></li>
        <li><a href="#">Artykuł</a></li>
        <li><a href="#">Artykuł</a></li>
        <li><a href="#">Artykuł</a></li>
        <li><a href="#">Artykuł</a></li>
        <li><a href="#">Artykuł last</a></li>
    </ul>
    </div>
{% endblock %}