{% extends "vineyards/base.html" %} 

{% block title %} Vintage {% endblock %}

{% block content %} 
<h1>Strona zawierająca szczegóły związane z pracą podczas zbiorów winogron</h1>
<br>
<hr>
<br>
<div>
    <p>Krótki opis czym są zbiory.</p>
</div>
<br>
<hr>
<br>
<div>
    <p>Przypuszczalne terminy rozpoczęcia i zakończenia zbiorów. okres ich trwania.</p>
</div>
<br>
<hr>
<br>
<div>
    <p>Jakie są warunki pracy, na co należy się przygotować, o co spytać przed wyjazdem.</p>
</div>
<br>
<hr>
<br>
<div>
    <p><strong>Galeria przesłanych zdjęć:</strong></p>
    <div>
        <div class="bd-example">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="bd-example">
                        <figure class="figure">
                          <svg class="bd-placeholder-img figure-img img-fluid rounded" width="400" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">400x300</text></svg>
                
                          <figcaption class="figure-caption">Nazwa winnicy, region i data zbiorów.</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col">
                    <div class="bd-example">
                        <figure class="figure">
                          <svg class="bd-placeholder-img figure-img img-fluid rounded" width="400" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">400x300</text></svg>
                
                          <figcaption class="figure-caption">Nazwa winnicy i data zbiorów.</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col">
                    <div class="bd-example">
                        <figure class="figure">
                          <svg class="bd-placeholder-img figure-img img-fluid rounded" width="400" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">400x300</text></svg>
                
                          <figcaption class="figure-caption">Nazwa winnicy i data zbiorów.</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col">
                    <div class="bd-example">
                        <figure class="figure">
                          <svg class="bd-placeholder-img figure-img img-fluid rounded" width="400" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">400x300</text></svg>
                
                          <figcaption class="figure-caption">Nazwa winnicy i data zbiorów.</figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
      
</div>
{% endblock %}