{% extends "vineyards/base.html" %} 

{% block title %} Work {% endblock %}

{% block content %} 

<h1>Tu się dowiesz jak wygląda praca na winnicach wciągu całego roku.</h1>

<div>
  
  <div class="col">
    <div class="card">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
  
      <div class="card-body">
        <h5 class="card-title">Vintage</h5>
        <p class="card-text">Dwa ciekawe zdania o zbiorach.</p>
        <a href="/domaine/vintage" class="btn btn-primary">More info</a>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row  row-cols-1 row-cols-md-2 g-4">
    <div class="col">
          <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

            <div class="card-body">
              <h5 class="card-title">Winter season</h5>
              <p class="card-text">2-3 zdania kiedy i co się robi.</p>
              <a href="/domaine/winter_season" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
            
            <div class="card-body">
              <h5 class="card-title">Spring season</h5>
              <p class="card-text">2-3 zdania kiedy i co się robi.</p>
              <a href="/domaine/spring_season" class="btn btn-primary">Go for more</a>
            </div>
          </div>
        </div>
      </div>
      
  
      
    <h2>Podział prac:</h2>
    <ul>
        <li><a href="/domaine/spring_season">Prace wiosenne</a></li>
        <li><a href="/domaine/winter_season">Prace zimowe</a></li>
        <li><a href="/domaine/vintage">Zbiory winogron</a></li>
    </ul>

</div>

{% endblock %}