{% extends "vineyards/base.html" %} 
{% load static %}
{% block title %} Work {% endblock %}

{% block content %} 

<h1>Tu się dowiesz jak wygląda praca na winnicach wciągu całego roku</h1>

<div>
  
  <div class="col">
    <div class="card">
      <img src="{% static 'vineyards/image/zbiory.jpg' %}" alt="Obrazek" height="500">
      <div class="card-body">
        <h5 class="card-title">Vintage</h5>
        <p class="card-text">Początek zbiorów przełom sirpień/wrzesień.<br>Koniec zbiorów przełom wrzesień/październik.</p>
        <a href="/domaine/vintage" class="btn btn-primary">More info</a>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row  row-cols-1 row-cols-md-2 g-4">
    <div class="col">
          <div class="card">
            <img src="{% static 'vineyards/image/zima.jpg' %}" alt="Obrazek" height="500">

            <div class="card-body">
              <h5 class="card-title">Winter season</h5>
              <p class="card-text">Okres prac: od listopada do kwietnia.</p>
              <a href="/domaine/winter_season" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static 'vineyards/image/wiosna.jpg' %}" alt="Obrazek" height="500">
            
            <div class="card-body">
              <h5 class="card-title">Spring season</h5>
              <p class="card-text">Okres prac: od maja do września.</p>
              <a href="/domaine/spring_season" class="btn btn-primary">More info</a>
            </div>
          </div>
        </div>
      </div>

</div>

{% endblock %}